body {
  font-family: sans-serif;
  background: #0f0f13;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}

.auth-box {
  background: #1a1a26;
  padding: 30px;
  border-radius: 18px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #333;
  color: #ccc;
}

.tabs button.active {
  background: #ff4081;
  color: #fff;
}

.form {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.form.active {
  display: flex;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #333;
  color: #fff;
  min-width: 100%;
}

button {
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #ff4081;
  color: #fff;
  cursor: pointer;
}

.error-msg {
  color: #ff6b81;
  font-size: 14px;
}

.pass-group {
  position: relative;
}

.toggle-pass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}